@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h2>Welcome to MovieLib Web</h2>
</div>

<div class="row">
	<div>
		Mohamed Rahaman <br /> December 13, 2017
	</div>
	<div>
		ITSE 1430: Introduction to C# Programming
	</div>	
</div>