@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to MovieLib Web</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mohamed Rahaman</h2>
        <p>The implementation of this web project, and other projects can be found on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/MegaMan501/ITSE1430"> GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ITSE 1430</h2>
        <p>The implenations of the class examples and related code can be found on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/michaeltccd/ITSE1430"> GitHub &raquo;</a></p>
    </div>
</div>